body {
  color: #322c2e;
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
  font-weight: 300 !important;
}

.font-size-doubled {
  font-size: 200%;
}

.text-small-1 {
  font-size: 0.9rem;
}

.text-small-3 {
  font-size: 0.5rem;
}

.text-size-default {
  font-size: 1rem;
}

.text-light-green {
  color: #64b95a !important;
}

.text-dark {
  color: #322c2e !important;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-minus {
  z-index: -1;
}

.bg-green-grad {
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
}

.bg-blue-grad {
  background: #00ace0;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  max-width: 270px;
  outline: 0;
  border: 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
  background-color: transparent;
}

.form-label:hover {
  cursor: text;
}

.form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}

.border-tl-br-radius {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.read-more {
  display: inline-block;
  position: relative;
  font-size: 0.9rem;
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  border-radius: 40px;
  cursor: pointer;
  text-transform: uppercase;
}

.show-more-articles {
  z-index: 2;
  color: white;
  border: 2px solid transparent;
}

.show-more-articles a {
  color: #14b8eb;
  color: white;
  text-decoration: none;
}

.show-more-articles:hover {
  background: transparent;
  border-color: #64b95a;
}

.show-more-articles:hover a {
  color: #64b95a;
}

.header {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
  max-height: 100px;
}

.header .navbar-toggler {
  height: 40px;
  margin-top: 20px;
}

.header .navbar-collapse {
  z-index: 10;
}

.header__logo {
  max-height: 60px;
}

.header__social .fab {
  border-radius: 50%;
  background-color: rgba(117, 223, 255, 0.5);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__social .fab:hover {
  background-color: #00ace0;
  cursor: pointer;
}

.header .nav-pills .nav-link.active,
.header .nav-pills .show > .nav-link {
  border-bottom: 2px solid #14b8eb;
  background: transparent;
  background-color: transparent;
  color: #322c2e;
  border-radius: 0;
}

.header__nav-link {
  color: #322c2e;
}

.header__nav-link:hover {
  color: #14b8eb;
}

.header__search-icon-container {
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  cursor: pointer;
}

.header__search-svg {
  width: 0.75rem;
  height: 0.75rem;
}

.header__search-svg path {
  fill: white;
}

.header__search-input {
  width: 20%;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 0.75rem;
}

.header__search-input:hover + .fab {
  display: none;
}

.main {
  background-color: #f3f7ff;
}

.owl-main {
  width: 100%;
}

.owl-main__item {
  position: relative;
  height: calc(100vh - 60px);
}

.owl-main__img {
  position: absolute;
  max-width: 100%;
  width: 100%;
  height: 50rem;
  margin: auto;
  z-index: -1;
  opacity: 0.1;
}

.owl-main__img-container::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #14b8eb;
  z-index: -3;
  height: 100%;
  width: 100%;
  content: '';
}

.owl-main__content {
  width: 60%;
  margin: 0 auto;
  color: white;
  padding-top: 200px;
}

.owl-main__deco-line {
  width: 100%;
  height: 3px;
  background-color: white;
  display: inline-block;
  margin-bottom: 1.75rem;
}

.owl-main__read-more {
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  background: white;
  border: 2px solid transparent;
}

.owl-main__read-more a {
  color: #14b8eb;
  text-decoration: none;
}

.owl-main__read-more:hover {
  background: transparent;
  border-color: white;
}

.owl-main__read-more:hover a {
  color: white;
}

.owl-main .fa-chevron-left,
.owl-main .fa-chevron-right {
  padding: 0.75rem;
  position: absolute;
  top: 40%;
  color: white;
  margin: 0 50px;
  font-size: 4rem;
}

.owl-main .fa-chevron-left {
  left: 5%;
}

.owl-main .fa-chevron-right {
  right: 5%;
}

.owl-tips .owl-item {
  border-bottom-right-radius: 35px;
  padding: 5px;
}

.owl-tips__item:hover {
  background: #14b8eb;
  color: white !important;
}

.owl-tips__item:hover .owl-tips__title {
  color: white;
}

.owl-tips__item:hover .owl-tips__more {
  border-radius: 25px;
  width: 40%;
  background-color: white;
  cursor: pointer;
}

.owl-tips__item:hover .owl-tips__more-dots {
  right: 5px;
  color: #14b8eb;
}

.owl-tips__item:hover .owl-tips__more-hidden {
  left: 38%;
  z-index: 2;
  display: inline-block;
  color: #14b8eb;
}

.owl-tips__item {
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  background: white;
  border-bottom-right-radius: 35px;
}

.owl-tips__img-container {
  position: relative;
  z-index: 1;
}

.owl-tips__category {
  width: 90px;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  z-index: 2;
  top: 10%;
  left: 5%;
}

.owl-tips__opacity {
  opacity: 0.5;
}

.owl-tips__title {
  color: #14b8eb;
  font-size: 1rem;
}

.owl-tips__subtitle {
  font-size: 0.75rem;
}

.owl-tips__more {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  background-color: #14b8eb;
  padding: 1rem;
  border-radius: 50%;
  bottom: 1.5rem;
  right: 1.5rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 32px;
  -webkit-box-shadow: rgba(0, 172, 224, 0.3) -1px -1px 5px 3px;
          box-shadow: rgba(0, 172, 224, 0.3) -1px -1px 5px 3px;
  z-index: 2;
}

.owl-tips__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  font-size: 0.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.owl-tips__more-dots {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -71%);
          transform: translate(-50%, -71%);
}

.owl-video .owl-item {
  border-bottom-right-radius: 35px;
}

.owl-video__item {
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  background: white;
  border-bottom-right-radius: 35px;
}

.owl-video__img-container {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
  border-bottom-right-radius: 35px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  background-color: white;
}

.owl-video__img-container img {
  height: 300px;
  border-bottom-right-radius: 35px;
}

.owl-video__img-container::after {
  content: "\f144";
  font-family: FontAwesome;
  font-size: 2rem;
  background: #64b95a;
  color: white;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
  line-height: 300px;
}

.owl-video__about {
  width: 70%;
  height: 1.5rem;
  line-height: 1.5rem;
  position: absolute;
  z-index: 3;
  bottom: 30%;
  left: 5%;
  opacity: 0.8;
}

.owl-video__opacity {
  opacity: 0.5;
}

.owl-video__title {
  font-size: 1rem;
}

.owl-video__subtitle {
  font-size: 0.75rem;
  line-height: 1;
  width: 80%;
}

.your-ad {
  height: 300px;
}

.your-ad__container {
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
}

.your-ad__p {
  line-height: 300px;
  color: #14b8eb;
}

.owl-articles .owl-item {
  border-bottom-right-radius: 35px;
  padding: 5px;
}

.owl-articles__item {
  -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
  background: white;
  border-bottom-right-radius: 35px;
}

.owl-articles__item:hover {
  background: #14b8eb;
  color: white !important;
}

.owl-articles__item:hover .owl-articles__title {
  color: white;
}

.owl-articles__item:hover .owl-articles__more {
  border-radius: 25px;
  width: 40%;
  background-color: white;
  cursor: pointer;
}

.owl-articles__item:hover .owl-articles__more-dots {
  right: 5px;
  color: #14b8eb;
}

.owl-articles__item:hover .owl-articles__more-hidden {
  left: 38%;
  z-index: 2;
  display: inline-block;
  color: #14b8eb;
}

.owl-articles__img-container {
  position: relative;
  z-index: 1;
}

.owl-articles__img-container img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.owl-articles__opacity {
  opacity: 0.5;
}

.owl-articles__title {
  color: #14b8eb;
  font-size: 1rem;
}

.owl-articles__subtitle {
  font-size: 0.75rem;
}

.owl-articles__more {
  display: inline-block;
  position: absolute;
  font-size: 1.5rem;
  background-color: #14b8eb;
  padding: 1rem;
  border-radius: 50%;
  bottom: 1.5rem;
  right: 1.5rem;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
  width: 32px;
  -webkit-box-shadow: rgba(0, 172, 224, 0.3) -1px -1px 5px 3px;
          box-shadow: rgba(0, 172, 224, 0.3) -1px -1px 5px 3px;
  z-index: 2;
}

.owl-articles__more:hover {
  border-radius: 25px;
  width: 40%;
  background-color: white;
  cursor: pointer;
}

.owl-articles__more:hover .owl-articles__more-dots {
  right: 5px;
  color: #14b8eb;
}

.owl-articles__more:hover .owl-articles__more-hidden {
  left: 38%;
  z-index: 2;
  display: inline-block;
}

.owl-articles__more-hidden {
  display: none;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  left: -25px;
  font-size: 0.75rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.owl-articles__more-dots {
  position: absolute;
  color: white;
  font-size: 1.5rem;
  -webkit-transform: translate(-50%, -71%);
          transform: translate(-50%, -71%);
}

.page h1,
.page h2 {
  color: #64b95a;
}

.page img {
  width: 100%;
}

.page__author-date {
  opacity: 0.5;
}

.page__quote {
  color: #14b8eb;
}

.page__deco-line {
  width: 3.75rem;
  height: 2px;
  background-color: #14b8eb;
  display: inline-block;
  margin-bottom: 1.75rem;
}

.page__text {
  font-size: 0.9rem;
  opacity: 0.7;
}

.page__border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.page__border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page__changer .fas {
  font-size: 4rem;
  color: #14b8eb;
  line-height: 100%;
}

.page__changer:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.page__other-page-title {
  color: #14b8eb;
  text-decoration: underline;
}

.page__comments-section {
  color: #14b8eb;
}

.page .comments-section__heading {
  font-size: 1.25rem;
  color: #14b8eb;
}

.page .comments-section__avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.page .comments-section__content {
  font-size: 0.9rem;
}

.page .comments-section__author {
  margin: 0;
}

.page .comments-section__date {
  opacity: 0.5;
}

.page .comments-section__answer {
  color: #14b8eb;
}

.page .comments-section__answer:hover {
  color: #14b8eb;
}

.page .comments-section__btn {
  display: inline-block;
  position: relative;
  font-size: 0.9rem;
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 40px;
  width: 100px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.page .form-label {
  left: initial;
  color: #322c2e;
  opacity: 0.5;
}

.page .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
          box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
  color: #322c2e;
  max-width: 100%;
}

.page .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #14b8eb;
          box-shadow: 0 2px 0 0 #14b8eb;
  color: #14b8eb;
  opacity: 1;
}

.page .social .fab {
  color: white;
  background-color: black;
  width: 2rem;
  height: 2rem;
  text-align: center;
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
  opacity: 0.2;
}

.page .social .fab:hover {
  color: blue;
  background-color: transparent;
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.page .comments {
  color: #14b8eb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.page .comments .fas {
  opacity: 0.2;
  -webkit-filter: grayscale(50);
          filter: grayscale(50);
}

.instagram__item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram__item {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  background-color: white;
}

.instagram__item:hover {
  background-color: #3fbae1;
  cursor: pointer;
}

.instagram__item:hover::after {
  content: "\f16d";
  font-family: FontAwesome;
  font-size: 2rem;
  background: #14b8eb;
  color: white;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
  line-height: 200px;
}

.newsletter {
  margin-top: -100px;
}

.newsletter .row {
  border-top-left-radius: 15vh;
  position: relative;
  padding-top: 150px;
}

.newsletter__btn {
  border-radius: 35px;
  border-bottom-right-radius: 0;
  background-color: white;
  color: #64b95a;
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
}

.newsletter__btn:hover {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}

.newsletter body {
  background-color: #f5f5f5;
}

.newsletter .form-label {
  color: white;
}

.newsletter .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  color: white;
}

.newsletter .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #fff;
          box-shadow: 0 2px 0 0 #fff;
}

.about__link {
  color: white;
}

.about__link:hover {
  color: white;
}

.about__date {
  opacity: 0.5;
  text-decoration: none;
}

.footer__link {
  color: #322c2e;
}

.footer__link:hover {
  color: #14b8eb;
  text-decoration: none;
}

.footer__copyright {
  opacity: 0.5;
}

@media (max-width: 480px) {
  .owl-main .fa-chevron-left {
    left: -11%;
    font-size: 2rem;
  }
  .owl-main .fa-chevron-right {
    right: -11%;
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .navbar {
    background-color: #f3f7ff;
    -webkit-box-shadow: 0 3px 9px 5px rgba(0, 0, 0, 0.4);
            box-shadow: 0 3px 9px 5px rgba(0, 0, 0, 0.4);
  }
  .header__nav-item {
    width: 100%;
    text-align: left !important;
  }
  .header__search-input {
    width: 75%;
  }
  .header .z-fix {
    background-color: #f3f7ff;
    z-index: 10000;
  }
  .page .w-75 {
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */