$clern-blue: #14b8eb;
$clern-lightGreen:#66ba5a;
$clern-lightYellow: #d3ef8b;
$clern-dark-text: #322c2e;
$clern-grey: #f3f7ff;

$variable-text-small-1:0.85rem;
$variable-text-small-2:0.75rem;
$variable-text-small-3:0.5rem;
$variable-text-medium-default:1rem;
$variable-text-medium-3:0.9rem;
$variable-text-medium-2:1.25rem;
$variable-text-medium-1:1.5rem;
$variable-text-big-2:2.5rem;
$variable-text-big-3:2rem;

$variable-text-menu:1.08rem;
$variable-text-main-heading:2.72rem;
$variable-text-tips:0.8725rem;
$variable-text-newsletter:2.18rem;
$variable-text-newsletter-email:0.98rem;

$fast:0.2s;
$variable-text-doubled:200%;

$variable-cookie-height:75px;

body {
    color: $clern-dark-text;
    font-family: vag-rundschrift-d, sans-serif;
    font-display: auto;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
    font-weight: 300 !important;
}

.font-size-doubled {
    font-size: $variable-text-doubled;
}

.text-small-1 {
    font-size: $variable-text-small-1;
}

.text-small-3 {
    font-size: $variable-text-small-3;
}

.text-medium-3 {
    font-size: $variable-text-medium-3;
}

.text-size-default {
    font-size: $variable-text-medium-default;
}

.text-light-green {
    color: $clern-lightGreen !important;
}

.text-dark {
    color: $clern-dark-text !important;
}

.z-1 {
    z-index: 1;
}

.z-0 {
    z-index: 0;
}

.z-minus {
    z-index: -1;
}

.double-columns {
    columns: 2;
}

.bg-green-grad {
    background-color: #8dce57;
    background: rgba(92, 182, 90, 1);
    background-image: linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    background-image: -moz-linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    background-image: -webkit-linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    background-image: -ms-linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
}

.green-shadow {
    box-shadow: 0px 4px 14px 0px rgba(141, 206, 87, 0.54);

}

.bg-blue-grad {
    background: rgba(0, 172, 224, 1);
    background-image: -moz-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
    background-image: -webkit-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
    background-image: -ms-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
    background-image: linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
    box-shadow: 0px 3px 18px 0px rgba(34, 202, 255, 0.36);
}



.form-group {
    position: relative;
}

.form-label {
    position: absolute;
    top: 10px;
    background-color: transparent;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
    font-size: $variable-text-newsletter-email;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: $variable-text-small-2;
}

.form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    max-width: 270px;
    outline: 0;
    border: 0;
    transition: box-shadow 150ms ease-out;
    background-color: transparent;
}

.form-label:hover {
    cursor: text;
}

.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}

.border-tl-br-radius {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.read-more {
    display: inline-block;
    position: relative;
    font-size: $variable-text-small-1;
    -webkit-transition: 0.5s, color 0.2s;
    transition: 0.5s, color 0.2s;
    border-radius: 40px;
    cursor: pointer;
    text-transform: uppercase;
}

.show-more-articles {
    z-index: 2;
    color: white;
    font-size: $variable-text-medium-3;
    box-shadow: 0px 9px 21px 0px rgba(144, 207, 87, 0.75);
    transition: $fast;

    &__deco-line {
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}

.show-more-articles a {
    color: $clern-blue;
    color: white;
    text-decoration: none;
}

.show-more-articles:hover {
    background: $clern-grey;
    box-shadow: inset 0 0 0 2px $clern-lightGreen;
}

.show-more-articles:hover a {
    color: $clern-lightGreen;
}


.container-fluid {
    width: 85%;
    max-width: 2560px;
}

.comment-icon {
    width: 14px !important;
    height: 14px;
    display: inline-block !important;
}

.cookie-bar {
    position: fixed;
    z-index: 9999;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    min-height: $variable-cookie-height;
    text-align: center;
    padding: 1rem 3.5rem;
    background-color: #8dce57;
    background: rgba(92, 182, 90, 1);
    background-image: linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    background-image: -moz-linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    background-image: -webkit-linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    background-image: -ms-linear-gradient(55deg, rgb(92, 183, 90) 0%, rgb(147, 208, 86) 99%);
    color: white;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    transition: .8s;
    animation: slideIn .8s;
    // animation-delay: .8s;

    .message {
        text-shadow: 0 1px 0 darken(rgb(92, 183, 90), 10%);
        text-align: center;

        @media (max-width: 767px) {
            display: none;
        }
    }

    .mobile {
        display: none;

        @media (max-width: 767px) {
            display: inline-block;
        }
    }

    a {
        color: darken(rgb(92, 183, 90), 20%);

        &:hover {
            color: darken(rgb(92, 183, 90), 90%);
        }
    }
}

@keyframes slideIn {
    0% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(0);
    }
}

.close-cb {
    border: none;
    color: white;
    background: darken(rgb(92, 183, 90), 20%);
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border-radius: 3px;
    box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .2);
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    font-weight: bold;

    &:hover {
        background: darken(rgb(92, 183, 90), 10%);
    }
}

.checkbox-cb {
    display: none;

    &:checked+.cookie-bar {
        transform: translateY(150px);
    }
}


.header {
    box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;

    &__navbar {
        min-height: 142px;
        overflow: hidden;
    }


    &__nav {
        padding-left: 15px;
    }

    .navbar-toggler {
        height: 40px;
        margin-top: 20px;
    }

    .navbar-collapse {
        z-index: 2000;
    }


    &__logo-container {
        position: relative;
        text-align: center;
    }

    &__logo {
        max-height: 2.5rem;
    }

    &__logo-container::after {
        content: '.blog';
        font-style: italic;
        color: $clern-lightGreen;
        position: absolute;
        bottom: -7px;
    }

    &__social .fab {
        border-radius: 50%;
        background-color: rgba(117, 223, 255, 0.5);
        color: white;
        transition: $fast;
        width: 43px;
        height: 43px;
        text-align: center;
        opacity: 1;
        font-size: $variable-text-medium-2;
        line-height: 1.35;
    }

    &__social .fab:hover {
        background-color: rgba(0, 172, 224, 1);
        cursor: pointer;
    }

    .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link,
    .nav-pills .nav-link:hover {
        border-bottom: 2px solid $clern-blue;
        background: transparent;
        background-color: transparent;
        color: $clern-dark-text;
        border-radius: 1px;
    }

    .navbar-nav .nav-pills &__nav-link {
        color: $clern-dark-text;
        font-size: $variable-text-menu;
        line-height: 1.2;
        transition: $fast, border-bottom-width 0;

        &:hover {
            color: $clern-dark-text;

        }
    }

    &__search-icon-container {
        border-radius: 50%;
        width: 43px;
        height: 43px;
        position: relative;
        text-align: center;
        cursor: pointer;
        transition: $fast;
    }

    &__search-icon-container:hover {
        background: white;
    }

    &__search-svg {
        width: $variable-text-medium-3;
        height: $variable-text-medium-3;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
    }

    &__search-svg path {
        fill: white;
        transition: $fast;
    }

    &__search-icon-container:hover &__search-svg path {
        fill: $clern-dark-text;
    }

    &__search-input {
        width: 20%;
        border: none;
        outline: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        font-size: $variable-text-small-2;
        transition: width $fast;
    }

}


.main {
    background-color: $clern-grey;
    overflow-x: hidden;
}

.main-content {
    margin-top: -100px;
}

.owl-main {
    width: 100%;


    &__item {
        position: relative;
        min-height: 630px;
        height: 63vh;
    }

    &__img {
        position: absolute;
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: auto;
        z-index: -1;
        opacity: 0.1;
    }

    &__img-container::after {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: $clern-blue;
        z-index: -3;
        height: 100%;
        width: 100%;
        content: '';
    }

    &__content {
        margin: 0 auto;
        color: white;
        padding-top: 80px;
    }

    &__category {
        font-size: $variable-text-menu;
    }

    &__heading {
        font-size: $variable-text-main-heading;
    }

    &__deco-line {
        width: 100%;
        height: 3px;
        background-color: white;
        display: inline-block;
        margin-bottom: 1.75rem;
        margin-top: 1.35rem;
    }

    &__read-more {
        -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
        z-index: 2;
        background: white;
        border: 2px solid transparent;
    }

    &__read-more a {
        color: $clern-blue;
        text-decoration: none;
    }

    &__read-more:hover {
        background: transparent;
        border-color: white;
    }

    &__read-more:hover a {
        color: white;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        padding: 0.75rem;
        position: absolute;
        top: 40%;
        color: white;
        margin: 0 50px;
        max-width: 70px;
    }

    .fa-chevron-left {
        left: 5%;
    }

    .fa-chevron-right {
        right: 5%;
    }


}


.owl-tips {
    .owl-item {
        border-bottom-right-radius: 35px;
        padding: 5px;

        a {
            cursor: pointer;
            color: $clern-dark-text;
        }
    }

    &__item:hover {
        background: rgb(24, 200, 243);
        background-image: linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        background-image: -moz-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        background-image: -webkit-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        background-image: -ms-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        box-shadow: 0px 3px 18px 0px rgba(34, 202, 255, 0.36);
        color: white !important;
        cursor: pointer;
    }

    &__item:hover &__title {
        color: white;
    }

    &__item:hover &__more {
        border-radius: 25px;
        width: 35%;
        background-color: white;
        cursor: pointer;
    }

    &__item:hover &__more-dots {
        right: 5px;
        color: $clern-blue;
    }

    &__item:hover &__more-hidden {
        left: 38%;
        z-index: 2;
        display: inline-block;
        color: $clern-blue;
    }

    &__item:hover .comment-icon {
        filter: invert(0.9);
    }

    &__item {
        -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        background: white;
        border-bottom-right-radius: 35px;
    }


    &__img-container {
        position: relative;
        z-index: 1;
    }

    &__category {
        width: 90px;
        height: 1.7rem;
        line-height: 1.7rem;
        position: absolute;
        z-index: 2;
        top: 10%;
        left: 5%;
    }

    &__opacity {
        opacity: 0.5;
    }

    &__time {
        font-size: $variable-text-menu;
    }

    &__title {
        color: $clern-blue;
        font-size: $variable-text-menu
    }

    &__subtitle {
        font-size: $variable-text-tips;
    }

    &__more {
        display: inline-block;
        position: absolute;
        font-size: $variable-text-tips;
        background-color: $clern-blue;
        padding: 1.25rem 1rem;
        border-radius: 50%;
        bottom: 1.5rem;
        right: 1.5rem;
        transition: 0.5s all;
        width: 40px;
        box-shadow: rgba(0, 172, 224, 0.3) -1px -1px 5px 3px;
        z-index: 2;
    }

    &__more-hidden {
        display: none;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: -25px;
        font-size: $variable-text-tips;
        transform: translate(-50%, -50%);
    }

    &__more-dots {
        position: absolute;
        color: white;
        font-size: $variable-text-big-2;
        letter-spacing: -2px;
        transform: translate(-33%, -71.25%);
        font-family: auto;
    }
}

.owl-video {

    margin-left: 5px;

    .owl-stage-outer {
        margin-right: 3px;
    }

    .owl-stage {
        border-bottom-right-radius: 35px;
    }

    .owl-item {
        border-bottom-right-radius: 35px;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
    }

    &__item {
        -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        background: white;
        border-bottom-right-radius: 35px;
    }

    &__img-container {
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
        border-bottom-right-radius: 35px;
        position: relative;
        transition: 1s;
        z-index: 1;
        background-color: white;
        overflow: hidden;
    }

    &__video {
        height: 320px;
        width: 100%;
        border-bottom-right-radius: 35px;
        z-index: -1;
    }

    &__img-container::after {
        content: '';
        background: $clern-lightGreen;
        color: white;
        opacity: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        text-align: center;
        line-height: 300px;
        border-bottom-right-radius: 35px;
    }

    &__img-container:hover::after,
    &__img-container:hover &__about,
    &__img-container--active::after {
        z-index: -1;
    }

    &__about {
        width: 70%;
        height: 1.5rem;
        line-height: 1.5rem;
        position: absolute;
        z-index: 3;
        bottom: 30%;
        left: 5%;
        opacity: 0.8;
        padding-bottom: 2rem;
    }

    &__opacity {
        opacity: 0.5;
    }

    &__title,
    &__time {
        font-size: $variable-text-menu;
    }

    &__subtitle {
        font-size: $variable-text-tips;
        line-height: 1;
        width: 80%;
    }
}

.your-ad {
    height: 320px;

    &__container {
        -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
    }

    &__p {
        line-height: 300px;
        color: $clern-blue;
        font-size: $variable-text-menu;
    }

}


.owl-articles {
    .owl-item {
        border-bottom-right-radius: 35px;
        padding: 5px;
        min-height: 322px;

        a {
            cursor: pointer;
            color: $clern-dark-text;
            text-decoration: none;
        }
    }

    &__item:hover {
        background: rgb(24, 200, 243);
        background-image: linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        background-image: -moz-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        background-image: -webkit-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        background-image: -ms-linear-gradient(55deg, rgb(18, 178, 233) 0%, rgb(24, 200, 243) 100%);
        box-shadow: 0px 3px 18px 0px rgba(34, 202, 255, 0.36);
        color: white !important;
        cursor: pointer;

        a {
            color: white !important;
        }
    }

    &__item:hover &__title {
        color: white;
    }

    &__item:hover &__more {
        border-radius: 25px;
        width: 35%;
        background-color: white;
        cursor: pointer;
    }

    &__item:hover &__more-dots {
        right: 5px;
        color: $clern-blue;
    }

    &__item:hover &__more-hidden {
        left: 38%;
        z-index: 2;
        display: inline-block;
        color: $clern-blue;
    }

    &__item:hover .comment-icon {
        filter: invert(0.9);
    }

    &__item {
        -webkit-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.1);
        background: white;
        border-bottom-right-radius: 35px;
        min-height: 322px;

        &-content {
            min-height: 322px;
        }
    }



    &__img-container {
        position: relative;
        z-index: 1;
    }

    &__img-container img {
        object-fit: cover;
        height: 100%;

        min-height: 322px;
    }

    &__opacity {
        opacity: 0.5;
    }

    &__time {
        font-size: $variable-text-menu;
    }


    &__title {
        color: $clern-blue;
        font-size: $variable-text-menu
    }

    &__subtitle {
        font-size: $variable-text-tips;
    }

    &__more {
        display: inline-block;
        position: absolute;
        font-size: $variable-text-tips;
        background-color: $clern-blue;
        padding: 1.25rem 1rem;
        border-radius: 50%;
        bottom: 1.5rem;
        right: 2rem;
        transition: 0.5s all;
        width: 40px;
        box-shadow: rgba(0, 172, 224, 0.3) -1px -1px 5px 3px;
        z-index: 2;
    }

    &__more-hidden {
        display: none;
        position: absolute;
        text-transform: uppercase;
        top: 50%;
        left: -25px;
        font-size: $variable-text-tips;
        transform: translate(-50%, -50%);
    }

    &__more-dots {
        position: absolute;
        color: white;
        font-size: $variable-text-big-2;
        letter-spacing: -2px;
        transform: translate(-33%, -71.25%);
        font-family: auto;
    }
}


.page {

    h1,
    h2 {
        color: $clern-lightGreen;
    }

    img {
        width: 100%;
    }

    &__category,
    &__author-date {
        font-size: $variable-text-menu;
    }

    &__author-date {
        opacity: 0.5;
    }

    &__heading {
        font-size: $variable-text-main-heading;
    }

    &__quote {
        color: $clern-blue;
        font-size: $variable-text-menu;
    }

    &__deco-line {
        width: 3.75rem;
        height: 2px;
        background-color: $clern-blue;
        display: inline-block;
        margin-bottom: 1.75rem;
    }

    &__text {
        font-size: $variable-text-tips;
        opacity: 0.7;
    }

    &__border-top {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }


    &__border-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__changer {
        a {
            text-decoration: none;
        }



        &:hover {
            cursor: pointer;
        }

        &:hover svg {
            opacity: 0.5;
        }

        svg {
            max-height: 79.519943px;
            max-width: 40.987373px;
            width: 100%;
            height: 100%;
        }

        .fas {
            width: 100%;
            height: 100%;
            transition: $fast;
        }

        .fas:hover {
            opacity: 0.5;
        }
    }

    &__direction {
        font-size: $variable-text-tips;
        color: $clern-dark-text;
    }

    &__changer:last-child {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__other-page-title {
        color: $clern-blue;
        font-size: $variable-text-menu;
        text-decoration: underline;
    }

    &__comments-section {
        color: $clern-blue;
    }



    .comments-section {
        &__heading {
            font-size: $variable-text-medium-2;
            color: $clern-blue;
        }

        &__avatar {
            width: 100%;
            height: auto;
            border-radius: 50%;
            max-height: 69px;
            max-width: 69px;
        }

        &__content {
            font-size: $variable-text-small-1;
        }

        &__author {
            margin: 0;
        }

        &__date {
            opacity: 0.5;
        }

        &__answer {
            color: $clern-blue;
        }

        &__answer:hover {
            color: $clern-blue;
        }

        &__btn {
            display: inline-block;
            position: relative;
            font-size: $variable-text-small-1;
            -webkit-transition: 0.5s, color 0.2s;
            transition: 0.5s, color 0.2s;
            -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            z-index: 2;
            border-radius: 40px;
            width: 130px;
            cursor: pointer;
            color: white;
            text-transform: uppercase;
            transition: $fast;
        }

        &__btn:hover {
            background: white;
            color: $clern-dark-text;
            box-shadow: inset 0 0 0 2px $clern-blue;
        }
    }

    .form-label {
        left: initial;
        color: #322c2e;
        opacity: 0.5;
    }

    .form-input {
        box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
        color: #322c2e;
        max-width: 100%;

        &:focus {
            box-shadow: 0 2px 0 0 $clern-blue;
            color: $clern-blue;
            opacity: 1;
        }
    }

    &__social .fab {
        border-radius: 50%;
        background-color: rgba(117, 223, 255, 0.5);
        color: white;
        transition: $fast;
        width: 43px;
        height: 43px;
        text-align: center;
        opacity: 1;
        font-size: $variable-text-medium-2;
        line-height: 1.35;
    }

    &__social .fab:hover {
        background-color: rgba(0, 172, 224, 1);
        cursor: pointer;
    }

    .social {


        i {
            color: white;
            background-color: black;
            width: 24px;
            height: 24px;
            text-align: center;
            border-radius: 2px;
            filter: grayscale(10);
            opacity: 0.2;
            line-height: 2.1;
            font-size: $variable-text-small-2;
        }

        i:hover {
            color: $clern-blue;
            background-color: transparent;
            opacity: 1;
            filter: grayscale(0);
        }
    }

    .comments {
        color: $clern-blue;
        border-left: 1px solid rgba(0, 0, 0, 0.1);

        a {
            color: $clern-blue;
            font-weight: initial !important;
        }

        .comment-icon {
            opacity: 0.5;
        }

        .fas {
            opacity: 0.2;
            filter: grayscale(50);
        }


    }


}

.instagram {
    &__item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__item {
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        position: relative;
        transition: 1s;
        z-index: 1;
        background-color: white;
    }

    &__item:hover {
        background-color: #3fbae1;
        cursor: pointer;
    }

    &__item:hover::after {
        content: "\f16d";
        font-family: FontAwesome;
        font-size: 2rem;
        background: $clern-blue;
        color: white;
        opacity: 0.9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        text-align: center;
        line-height: 200px;
    }
}

.newsletter {
    margin-top: -100px;


    .container-fluid {
        border-top-left-radius: 15vh;
    }

    .row {
        border-top-left-radius: 15vh;
        position: relative;
        padding-top: 150px;
    }


    &__btn {
        border-radius: 35px;
        background-color: white;
        color: $clern-lightGreen;
        border: 3px solid transparent;
        font-size: $variable-text-newsletter-email;
        text-transform: uppercase;
        transition: $fast;
        width: 154px;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
    }

    &__heading {
        font-size: $variable-text-newsletter;
    }

    &__btn:hover {
        background-color: transparent;
        color: white;
        border: 3px solid white;
    }

    body {
        background-color: #f5f5f5;
    }

    .form-label {

        color: white;
    }

    .form-input {
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
        color: white;

        &:focus {
            box-shadow: 0 2px 0 0 #fff;
        }
    }

}

.about {
    &__link {
        color: white;
        font-size: $variable-text-menu;
    }

    &__heading {
        font-size: $variable-text-newsletter;
    }


    &__link:hover {
        color: white;
    }

    .link-hover-green &__link:hover {
        color: $clern-lightGreen !important;
    }

    &__text {
        font-size: $variable-text-tips;
    }

    &__date {
        opacity: 0.5;
        text-decoration: none;
        font-size: $variable-text-small-1;
    }


    &__social .fab {
        border-radius: 50%;
        background-color: rgba(117, 223, 255, 0.5);
        color: white;
        transition: $fast;
        width: 43px;
        height: 43px;
        text-align: center;
        opacity: 1;
        font-size: $variable-text-medium-2;
        line-height: 1.35;
    }

    &__social .fab:hover {
        background-color: rgba(0, 172, 224, 1);
        cursor: pointer;
    }
}

.footer {
    background-color: #f7f7f5;

    &__link {
        color: $clern-dark-text;
        font-size: $variable-text-menu;
    }

    &__logo {
        max-height: 2.5rem;
    }

    &__logo-container {
        position: relative;
    }

    &__logo-container::after {
        content: '.blog';
        font-style: italic;
        color: $clern-lightGreen;
        position: absolute;
        bottom: -17px;
    }

    &__link:hover {
        color: $clern-blue;
        text-decoration: none;
    }

    &__copyright {
        opacity: 0.5;
        transform: translateX(2rem);
    }
}

@media (min-width:1200px) {


    .header {
        &__search-input {
            transform: translateY(calc(-50% + 3px));
            transition: transform $fast;
        }

        &__search-input:focus {
            transform: translateY(0px);
            width: calc(20% + 2vw);
        }



        &__social .row {
            background-color: white;
            transition: transform $fast;
        }

        .social-icons {
            background-color: white;
        }
    }

    .your-ad {
        margin-left: -10px !important;

        &__container {
            margin-left: 0 !important;
        }
    }

}



@media (max-width:1440px) {

    .owl-main {
        .fa-chevron-left {
            left: -45px;
            font-size: 2rem;
        }

        .fa-chevron-right {
            right: -45px;
            font-size: 2rem;
        }

        .fa-chevron-left,
        .fa-chevron-right {
            transform: scale(0.5);

            &:hover {
                opacity: 0.5;
            }
        }
    }
}

@media (max-width:1200px) {

    .container-fluid {
        width: 100%;
    }


    &__vert-center {
        transform: translateY(calc(50% - 80px));
    }


    .navbar {
        background-color: $clern-grey;
        min-height: 88px;
    }

    .header {
        &__nav-item {
            width: 100%;
        }

        &__nav-link {
            display: inline-block !important;
        }

        &__search-input {
            width: 65vw;
        }

        .z-fix {
            background-color: $clern-grey;
            z-index: 10000;
        }
    }

    .page__changer:last-child {
        border: none;
    }

}



@media (max-width:992px) {


    .header {
        &__search-input {
            width: 75vw;
        }
    }

    .page {
        &__changer {

            .fa-chevron-left,
            .fa-chevron-right {
                transform: scale(0.5);
            }
        }
    }

    .owl-video {

        &__about {
            width: 95%
        }

        &__subtitle {
            width: 100%;
        }
    }

    .owl-main {
        text-align: center;

        &__heading {
            font-size: $variable-text-medium-1;
        }



    }
}



@media (max-width:480px) {

    .owl-main {
        .fa-chevron-left {
            left: -45px;
            font-size: 2rem;
        }

        .fa-chevron-right {
            right: -45px;
            font-size: 2rem;
        }


        &__item {
            height: calc(100vh - 60px);
        }
    }
}


//those fancy owl-carousel dots
.owl-dots {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.owl-dots button {
    outline: none;
}

.owl-dots .owl-dot span {
    height: 2px;
    width: 2px;
    box-shadow: inset white 0 0 0 2px;
    box-sizing: border-box;
    background-color: transparent !important;
    border-radius: 50%;
    padding: 5px;
    margin: 10px 5px;
    float: left;
    outline: none;

}

.owl-dots .active span {
    transform: translate(-2px, -13px) scale(1.5);
    margin-right: 6px;
}

#bar {
    width: 0%;
    height: 100%;
    background: #fff;
    opacity: 1 !important;
    z-index: 3000;
    position: relative;
}

#progressBar {
    display: inline-block;
    width: 4rem;
    height: 2px;
    position: relative;
    background: #94d08b;
    z-index: 3000;
    transform: translateY(-14px);
}

.line-container {
    display: flex;
    justify-content: center;
}