$clern-blue: #14b8eb;
$clern-lightGreen:#64b95a;
$clern-lightYellow: #d3ef8b;
$clern-dark-text: #322c2e;
$clern-grey: #f3f7ff;
$variable-text-small-1:0.9rem;
$variable-text-small-2:0.75rem;
$variable-text-small-3:0.5rem;
$variable-text-medium-default:1rem;
$variable-text-medium-2:1.25rem;
$variable-text-medium-1:1.5rem;
$variable-text-big-2:2.5rem;
$variable-text-big-3:2rem;

$fast:0.2s;
$variable-text-doubled:200%;

body {
    color: $clern-dark-text;
    font-family: vag-rundschrift-d, sans-serif;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
    font-weight: 300 !important;
}

.font-size-doubled {
    font-size: $variable-text-doubled;
}

.text-small-1 {
    font-size: $variable-text-small-1;
}

.text-small-3 {
    font-size: $variable-text-small-3;
}

.text-size-default {
    font-size: $variable-text-medium-default;
}

.text-light-green {
    color: $clern-lightGreen !important;
}

.text-dark {
    color: $clern-dark-text !important;
}

.z-1 {
    z-index: 1;
}

.z-0 {
    z-index: 0;
}

.z-minus {
    z-index: -1;
}

.bg-green-grad {
    background-color: #5DB65A;
    background: rgba(93, 182, 90, 1);
    background: -moz-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(93, 182, 90, 1)), color-stop(100%, rgba(147, 208, 87, 1)));
    background: -webkit-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
    background: linear-gradient(45deg, rgba(93, 182, 90, 1) 0%, rgba(147, 208, 87, 1) 100%);
}

.bg-blue-grad {
    background: rgba(0, 172, 224, 1);
    background: -moz-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0, 172, 224, 1)), color-stop(100%, rgba(117, 223, 255, 1)));
    background: -webkit-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
    background: linear-gradient(45deg, rgba(0, 172, 224, 1) 0%, rgba(117, 223, 255, 1) 100%);
}

.form-group {
    position: relative;
}

.form-label {
    position: absolute;
    left: 0;
    top: 10px;
    background-color: transparent;
    z-index: 10;
    transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .form-label {
    transform: translateY(-125%);
    font-size: .75em;
}

.form-input {
    position: relative;
    padding: 12px 0px 5px 0;
    width: 100%;
    max-width: 270px;
    outline: 0;
    border: 0;
    transition: box-shadow 150ms ease-out;
    background-color: transparent;
}

.form-label:hover {
    cursor: text;
}

.form-input.filled {
    box-shadow: 0 2px 0 0 lightgreen;
}

.tip {
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}



.header {
    box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;

    &__social .fab {
        border-radius: 50%;
        background-color: rgba(117, 223, 255, 0.5);
        color: white;
        transition: $fast;
    }

    &__social .fab:hover {
        background-color: rgba(0, 172, 224, 1);
        cursor: pointer;
    }
}



.main {
    background-color: $clern-grey;
}











.page {

    h1,
    h2 {
        color: $clern-lightGreen;
    }

    img {
        width: 100%;
    }

    &__author-date {
        opacity: 0.5;
    }



    &__quote {
        color: $clern-blue;
    }

    &__deco-line {
        width: 3.75rem;
        height: 2px;
        background-color: $clern-blue;
        display: inline-block;
        margin-bottom: 1.75rem;
    }

    &__text {
        font-size: $variable-text-small-1;
        opacity: 0.7;
    }

    &__border-top {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }


    &__border-bottom {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__changer {
        .fas {
            font-size: 4rem;
            color: $clern-blue;
            line-height: 100%;
        }
    }

    &__changer:last-child {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
    }

    &__other-page-title {
        color: $clern-blue;
        text-decoration: underline;
    }

    &__comments-section {
        color: $clern-blue;
    }



    .comments-section {
        &__heading {
            font-size: $variable-text-medium-2;
            color: $clern-blue;
        }

        &__avatar {
            width: 100%;
            height: auto;
            border-radius: 50%;
        }

        &__content {
            font-size: $variable-text-small-1;
        }

        &__author {
            margin: 0;
        }

        &__date {
            opacity: 0.5;
        }

        &__answer {
            color: $clern-blue;
        }

        &__answer:hover {
            color: $clern-blue;
        }

        &__btn {
            display: inline-block;
            position: relative;
            background: #00ace0;
            font-size: $variable-text-small-1;
            background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
            background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
            -webkit-transition: 0.5s, color 0.2s;
            transition: 0.5s, color 0.2s;
            -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
            z-index: 2;
            border-radius: 40px;
            width: 100px;
            cursor: pointer;
            color: white;
            text-transform: uppercase;
        }
    }

    .form-label {
        left: initial;
        color: #322c2e;
        opacity: 0.5;
    }

    .form-input {
        box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
        color: #322c2e;
        max-width: 100%;

        &:focus {
            box-shadow: 0 2px 0 0 $clern-blue;
            color: $clern-blue;
            opacity: 1;
        }
    }



    .social {


        .fab {
            color: white;
            background-color: black;
            width: 2rem;
            height: 2rem;
            text-align: center;

            filter: grayscale(10);
            opacity: 0.2;
        }

        .fab:hover {
            color: blue;
            background-color: transparent;
            opacity: 1;
            filter: grayscale(0);
        }
    }

    .comments {
        color: $clern-blue;
        border-left: 1px solid rgba(0, 0, 0, 0.1);

        .fas {
            opacity: 0.2;
            filter: grayscale(50);
        }


    }


}

.instagram {
    &__item img {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    &__item {
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
        border-bottom-right-radius: 25px;
        border-top-left-radius: 25px;
        position: relative;
        transition: 1s;
        z-index: 1;
        background-color: white;
    }

    &__item:hover {
        background-color: #3fbae1;
        cursor: pointer;
    }

    &__item:hover::after {
        content: "\f16d";
        font-family: FontAwesome;
        font-size: 2rem;
        background: $clern-blue;
        color: white;
        opacity: 0.9;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
        text-align: center;
        line-height: 200px;
    }
}

.newsletter {
    margin-top: -100px;

    .row {
        border-top-left-radius: 15vh;
        position: relative;
        padding-top: 150px;
    }


    &__btn {
        border-radius: 35px;
        border-bottom-right-radius: 0;
        background-color: white;
        color: $clern-lightGreen;
        border: 3px solid transparent;
        transition: $fast;
        box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
    }

    &__btn:hover {
        background-color: transparent;
        color: white;
        border: 3px solid white;
    }

    body {
        background-color: #f5f5f5;
    }

    .form-label {

        color: white;
    }

    .form-input {
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
        color: white;

        &:focus {
            box-shadow: 0 2px 0 0 #fff;
        }
    }

}

.about {
    &__link {
        color: white;
    }

    &__link:hover {
        color: white;
    }

    &__date {
        opacity: 0.5;
        text-decoration: none;
    }
}

.footer {

    &__link {
        color: $clern-dark-text;
    }

    &__link:hover {
        color: $clern-blue;
        text-decoration: none;
    }

    &__copyright {
        opacity: 0.5;
    }
}

@media (min-width:1920px) {}