body {
  color: #322c2e;
  font-family: vag-rundschrift-d, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
input,
button,
a {
  font-weight: 300 !important;
}

.font-size-doubled {
  font-size: 200%;
}

.text-small-1 {
  font-size: 0.9rem;
}

.text-small-3 {
  font-size: 0.5rem;
}

.text-size-default {
  font-size: 1rem;
}

.text-light-green {
  color: #64b95a !important;
}

.text-dark {
  color: #322c2e !important;
}

.z-1 {
  z-index: 1;
}

.z-0 {
  z-index: 0;
}

.z-minus {
  z-index: -1;
}

.bg-green-grad {
  background-color: #5DB65A;
  background: #5db65a;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #5db65a), color-stop(100%, #93d057));
  background: linear-gradient(45deg, #5db65a 0%, #93d057 100%);
}

.bg-blue-grad {
  background: #00ace0;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
}

.form-group {
  position: relative;
}

.form-label {
  position: absolute;
  left: 0;
  top: 10px;
  background-color: transparent;
  z-index: 10;
  -webkit-transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: font-size 150ms ease-out, -webkit-transform 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
  transition: transform 150ms ease-out, font-size 150ms ease-out, -webkit-transform 150ms ease-out;
}

.focused .form-label {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  font-size: .75em;
}

.form-input {
  position: relative;
  padding: 12px 0px 5px 0;
  width: 100%;
  max-width: 270px;
  outline: 0;
  border: 0;
  -webkit-transition: -webkit-box-shadow 150ms ease-out;
  transition: -webkit-box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out;
  transition: box-shadow 150ms ease-out, -webkit-box-shadow 150ms ease-out;
  background-color: transparent;
}

.form-label:hover {
  cursor: text;
}

.form-input.filled {
  -webkit-box-shadow: 0 2px 0 0 lightgreen;
          box-shadow: 0 2px 0 0 lightgreen;
}

.tip {
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.header {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
}

.header__social .fab {
  border-radius: 50%;
  background-color: rgba(117, 223, 255, 0.5);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__social .fab:hover {
  background-color: #00ace0;
  cursor: pointer;
}

.main {
  background-color: #f3f7ff;
}

.page h1,
.page h2 {
  color: #64b95a;
}

.page img {
  width: 100%;
}

.page__author-date {
  opacity: 0.5;
}

.page__quote {
  color: #14b8eb;
}

.page__deco-line {
  width: 3.75rem;
  height: 2px;
  background-color: #14b8eb;
  display: inline-block;
  margin-bottom: 1.75rem;
}

.page__text {
  font-size: 0.9rem;
  opacity: 0.7;
}

.page__border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.page__border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.page__changer .fas {
  font-size: 4rem;
  color: #14b8eb;
  line-height: 100%;
}

.page__changer:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.page__other-page-title {
  color: #14b8eb;
  text-decoration: underline;
}

.page__comments-section {
  color: #14b8eb;
}

.page .comments-section__heading {
  font-size: 1.25rem;
  color: #14b8eb;
}

.page .comments-section__avatar {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.page .comments-section__content {
  font-size: 0.9rem;
}

.page .comments-section__author {
  margin: 0;
}

.page .comments-section__date {
  opacity: 0.5;
}

.page .comments-section__answer {
  color: #14b8eb;
}

.page .comments-section__answer:hover {
  color: #14b8eb;
}

.page .comments-section__btn {
  display: inline-block;
  position: relative;
  background: #00ace0;
  font-size: 0.9rem;
  background: -webkit-gradient(left bottom, right top, color-stop(0%, #00ace0), color-stop(100%, #75dfff));
  background: linear-gradient(45deg, #00ace0 0%, #75dfff 100%);
  -webkit-transition: 0.5s, color 0.2s;
  transition: 0.5s, color 0.2s;
  -webkit-box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  box-shadow: rgba(20, 184, 235, 0.5) 0px 5px 12px 0px;
  z-index: 2;
  border-radius: 40px;
  width: 100px;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.page .form-label {
  left: initial;
  color: #322c2e;
  opacity: 0.5;
}

.page .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
          box-shadow: 0 1px 0 0 rgba(25, 25, 25, 0.4);
  color: #322c2e;
  max-width: 100%;
}

.page .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #14b8eb;
          box-shadow: 0 2px 0 0 #14b8eb;
  color: #14b8eb;
  opacity: 1;
}

.page .social .fab {
  color: white;
  background-color: black;
  width: 2rem;
  height: 2rem;
  text-align: center;
  -webkit-filter: grayscale(10);
          filter: grayscale(10);
  opacity: 0.2;
}

.page .social .fab:hover {
  color: blue;
  background-color: transparent;
  opacity: 1;
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}

.page .comments {
  color: #14b8eb;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.page .comments .fas {
  opacity: 0.2;
  -webkit-filter: grayscale(50);
          filter: grayscale(50);
}

.instagram__item img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.instagram__item {
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 10px 3px;
  border-bottom-right-radius: 25px;
  border-top-left-radius: 25px;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
  z-index: 1;
  background-color: white;
}

.instagram__item:hover {
  background-color: #3fbae1;
  cursor: pointer;
}

.instagram__item:hover::after {
  content: "\f16d";
  font-family: FontAwesome;
  font-size: 2rem;
  background: #14b8eb;
  color: white;
  opacity: 0.9;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  text-align: center;
  line-height: 200px;
}

.newsletter {
  margin-top: -100px;
}

.newsletter .row {
  border-top-left-radius: 15vh;
  position: relative;
  padding-top: 150px;
}

.newsletter__btn {
  border-radius: 35px;
  border-bottom-right-radius: 0;
  background-color: white;
  color: #64b95a;
  border: 3px solid transparent;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
          box-shadow: rgba(25, 25, 25, 0.1) -1px -1px 5px 3px;
}

.newsletter__btn:hover {
  background-color: transparent;
  color: white;
  border: 3px solid white;
}

.newsletter body {
  background-color: #f5f5f5;
}

.newsletter .form-label {
  color: white;
}

.newsletter .form-input {
  -webkit-box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
          box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.4);
  color: white;
}

.newsletter .form-input:focus {
  -webkit-box-shadow: 0 2px 0 0 #fff;
          box-shadow: 0 2px 0 0 #fff;
}

.about__link {
  color: white;
}

.about__link:hover {
  color: white;
}

.about__date {
  opacity: 0.5;
  text-decoration: none;
}

.footer__link {
  color: #322c2e;
}

.footer__link:hover {
  color: #14b8eb;
  text-decoration: none;
}

.footer__copyright {
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */